<canvas id="canvas">
</canvas>

<div class="container">
  <div class="title">
    Hi, I'm Rian Erick Software developer and this is my timeline.
  </div>

  <ngx-timeline class="timeline"
   [orientation]="orientation"
   [events]="events" >
  </ngx-timeline>

  <div class="box-tools">

    <div class="langs">
      <label>Tools XP</label>
      <div class="made">
        <img src="https://img.shields.io/badge/angular-%23DD0031.svg?style=for-the-badge&logo=angular&logoColor=white" alt="Angular Badge"/>
        <img src="https://img.shields.io/badge/spring-%236DB33F.svg?style=for-the-badge&logo=spring&logoColor=white" alt="Spring Badge" />
        <img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java Badge" />
        <img src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E" alt="JavaScript Badge" />
      </div>
    </div>


    <div class="langs">
      <label>Made using</label>
      <div class="made">
        <img src="https://img.shields.io/badge/angular-%23DD0031.svg?style=for-the-badge&logo=angular&logoColor=white" alt="Angular Badge" />
        <img src="https://img.shields.io/badge/three.js-000000.svg?style=for-the-badge&logo=three.js&logoColor=white" alt="Three.js Badge" />
      </div>
    </div>
  </div>
</div>


