<canvas id="canvas"></canvas>

<div class="container">
  <div class="title">
    Hi, I'm Rian Erick Software developer.
  </div>

  <div class="box-tools">

    <div class="langs">
      <label>Tools XP</label>
      <div class="made">
        <img src="https://img.shields.io/badge/angular-%23DD0031.svg?style=for-the-badge&logo=angular&logoColor=white" alt="Angular Badge" />
        <img src="https://img.shields.io/badge/spring-%236DB33F.svg?style=for-the-badge&logo=spring&logoColor=white" alt="Spring Badge" />
        <img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java Badge" />
        <img src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E" alt="JavaScript Badge" />
      </div>
    </div>
    <div class="langs">
      <label>Social and Git Projects</label>
      <div class="made">
        <a href="https://github.com/RianErick" target="_blank"><img src="https://img.shields.io/badge/github-%23181717.svg?style=for-the-badge&logo=github&logoColor=white" alt="GitHub Badge" /></a>
        <a href="https://www.linkedin.com/in/rianerick/" target="_blank"><img src="https://img.shields.io/badge/linkedin-%230A66C2.svg?style=for-the-badge&logo=linkedin&logoColor=white" alt="LinkedIn Badge" /></a>
      </div>
    </div>


    <div class="langs">
      <label>Page made using</label>
      <div class="made">
       <a href="https://angular.dev/" target="_blank"><img src="https://img.shields.io/badge/angular-%23DD0031.svg?style=for-the-badge&logo=angular&logoColor=white" alt="Angular Badge" /> </a>
       <a href="https://threejs.org/" target="_blank"><img src="https://img.shields.io/badge/three.js-000000.svg?style=for-the-badge&logo=three.js&logoColor=white" alt="Three.js Badge" /></a>
      </div>
    </div>

  </div>

<!--
<ngx-timeline class="timeline"
  [orientation]="orientation"
  [events]="events"
  style="width: 50%; max-width: 600px; font-size: 10px;">
</ngx-timeline> -->

</div>


